<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="blog">
    <meta name="author" content="otfsenter">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/font.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/blog.css' %}" rel="stylesheet">

    <title>otfsenter's blog</title>

</head>

<body>

<div class="container">


    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="#">Blog</a>
            <a class="p-2 text-muted" href="{% url 'movie:index' %}">Movie Schedule</a>
        </nav>
    </div>

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Welcome to otfsenter's blog</h1>
            <p class="lead my-3">This is just the backup for cnblogs!</p>
        </div>
    </div>
</div>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">Blog List</h2>
                {#                <div class="panel panel-default">#}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Datetime</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for blog in blog_list %}
                        <tr>
                            <td>
                                <a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a>
                            </td>
                            <td>{{ blog.category }}</td>
                            <td>{{ blog.date_time }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {#                </div>#}
            </div>

        </div><!-- /.row -->
        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">About</h4>
                <p class="mb-0">Python, Operations</p>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/otfsenter">GitHub</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div>
</main><!-- /.container -->


</body>
</html>
